<h1>工事中</h1>
<div class="contents row">
  <% @contents.each do |content| %>
    <div class="content_post" style="background-image: url(<%= content.image %>);">
      <p><%= content.title %></p>
      <span class="median-point">
        <%# <%= content.point %> %>
        <%# メッセージ評価の中央値をいれる %>
      </span>
    </div>
  <% end %>
</div>