<div class="wrapper">
  <%= render "shared/sidebar" %>
  <div class="contents">
    <% @contents.each do |s| %>
      <% if params[:id].to_i == s.media_id %>
      <div class="content_post">
      <%= link_to content_path(s.id), class: "link" do %>
        <%= image_tag s.image.variant(resize:'300x300'), class: 'content-image' if s.image.attached? %>
        <div class="data" >
          <%= s.title %></p>
          <span class="name">評価：4.5</span>
        </div>
      <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>