* {
  box-sizing: border-box;
}

.header {
  height: 70px;
  width: 100vw;
  display: flex;
}


.title {
  font-size: 40px;
  font-family: Impact,Charcoal;
  width: 800px;
  color: rgb(13, 71, 231);
  padding: 10px 0 0 30px;
  text-decoration: none;
}

.explain{
  font-size: 15px;
  color: black;
}

.menu {
  width: 45%;
  padding: 30px 40px 20px 200px ;
}


.lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.concept {
  text-decoration: none;
  color: #333333;
  margin-right: 5px;
}

.user-nickname {
  text-decoration: none;
  color: #333333;
  margin-right: 5px;
}

.logout {
  text-decoration: none;
  color: #333333;
  margin-right: 5px;
}

.login {
  text-decoration: none;
  color: #333333;
  margin-right: 5px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  margin-right: 5px;
}