* {
  box-sizing: border-box;
}

.header {
  height: 70px;
  width: 100vw;
  display: flex;
}


.title {
  font-size: 35px;
  font-family: Impact,Charcoal;
  width: 90%;
  color: rgb(13, 71, 231);
  padding: 20px 0 0 30px;
  text-decoration: none;
}

.menu {
  width: 30%;
  padding: 30px 40px 20px 20px ;
}


.lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}


.user-nickname {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}

.login {
  text-decoration: none;
  color: #333333;
}

.sign-up {
  text-decoration: none;
  color: #333333;
}