<div class="sidebar">
  <div class="sidebar__home">
    <ul class="sidebar__home--lists">
      <li><%= link_to 'ホーム', "/", class: "sidebar__home--list" %></li>
      <li><%= link_to '投稿する', new_content_path, class: "sidebar__home--list" %></li>
    </ul>
  </div>
  <div class="sidebar__genre">
    <ul class="sidebar__genre--lists">
      <p class="sidebar__genre--heading">ジャンルから探す(工事中)</p>
      <%# <li class="sidebar__genre--list">経営</li>
      <li class="sidebar__genre--list">IT</li>
      <li class="sidebar__genre--list">自己啓発</li>
      <li class="sidebar__genre--list">マーケティング</li>
      <li class="sidebar__genre--list">営業</li>
      <li class="sidebar__genre--list">その他</li> %>
    </ul>
  </div>
  <div class="sidebar__medium">
    <ul class="sidebar__medium--lists">
      <p class="sidebar__medium--heading">媒体から探す(工事中)</p>
      <%# <li class="sidebar__medium--list">書籍</li>
      <li class="sidebar__medium--list">動画</li>
      <li class="sidebar__medium--list">udemy</li>
      <li class="sidebar__medium--list">MENTA</li>
      <li class="sidebar__medium--list">webサービス(無料)</li>
      <li class="sidebar__medium--list">webサービス(有料)</li>
      <li class="sidebar__medium--list">その他</li> %>
    </ul>
  </div>
</div>