.sidebar{
  width: 250px;
  height: 100vh;
  overflow: scroll;
  padding: 20px 20px 0 20px;
}

.sidebar__home{
  border-bottom: lightgray solid 1px;
  padding-bottom: 15px;
}

.sidebar__home--list{
  text-decoration: none;
  color: #333333;
}

.sidebar__genre{
  padding: 15px 0 ;
  border-bottom: lightgray solid 1px;
}

.sidebar__genre--heading{
  margin-bottom: 10px;
}

.sidebar__genre--list{
  padding-left: 10px;
  text-decoration: none;
  color: #333333;
}

.sidebar__medium{
  padding: 15px 0 ;
  border-bottom: lightgray solid 1px;
}

.sidebar__medium--heading{
  margin-bottom: 10px;
}

.sidebar__medium--list{
  padding-left: 10px;
}

.contents{
  width: calc(100% - 250px);
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 0;
  text-decoration: none;
  overflow: scroll;
  background-color: rgb(252, 249, 249);
}

.link{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_post{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 100px) / 4);
  background-color: white;
  border: lightgray 1px solid;
  height: 160px;
  margin: 0 20px 20px 0;
}

.content-image{
  height: 10vh;
  width: 8wh;
  margin-top: 10px;
}

.data{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1185px) {
  .content_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 80px) / 3);
    background-color: white;
    border: lightgray 1px solid;
    height: 145px;
    margin: 0 20px 20px 0;
  }

  .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .sidebar{
    width: 180px;
    height: 100vh;
    overflow: scroll;
    padding: 20px 10px 0 10px;
  }

  .sidebar__home--list{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
  }

  .sidebar__genre--heading{
    margin-bottom: 10px;
    font-size: 14px;
  }

  .sidebar__genre--list{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
  }

  .sidebar__medium--heading{
    margin-bottom: 10px;
    font-size: 14px;
  }

  .sidebar__medium--list{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
  }

  .contents{
    width: calc(100% - 180px);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 0;
    text-decoration: none;
    overflow: scroll;
    background-color: rgb(252, 249, 249);
  }

  .content_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 80px) / 2);
    background-color: white;
    border: lightgray 1px solid;
    height: 120px;
    margin: 0 20px 20px 0;
  }

  .content-image{
    height: 6vh;
    width: 6wh;
    margin-top: 10px;
  }

}


@media (max-width: 500px) {
  .content_post{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 80px) / 1);
    background-color: white;
    border: lightgray 1px solid;
    height: 100px;
    margin: 0 20px 20px 0;
  }
}
