
.showcontents{
  height: calc(100% - 70px);
  background-color: rgb(252, 249, 249);
  padding: 40px 0;
  width: calc(100vw - 250px);
}

.content_post{
  width: 50vw;
  background-color: white;
  border: lightgray 1px solid;
}

.content_image{
  margin-top: 20px;
}

.content-title{
  font-weight: bold;
  margin: 10px 0;
  font-size: 24px;
}

.content-averagepoint{
  font-weight: bold;
  margin: 10px 0;
  font-size: 24px;
}

.content-introduction{
  margin-bottom: 30px;
  font-size: 24px;
}

.link{
  text-decoration: none;
  color: black;
}

.showcontent__catalog{
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.showcomments__views{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 24px;
}

.showcomments__view{
  margin: 0 400px 0px 400px;
  background-color: white;
  border: lightgray 1px solid;
}

.edit-destroy-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-edit{
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.content-destroy{
  color: black;
  text-decoration: none;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.showcontent__reviews{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-point{
  width: 55px;
}

.review-text{
  width: 600px;
}