
.show-contents{
  height: calc(100vw - 70px);
  background-color: rgb(252, 249, 249);
  padding: 40px 0;
}

.content_post{
  width: 50vw;
  margin: 0 auto 20px;
  background-color: white;
  border: lightgray 1px solid;
}

.content_image{
  margin-top: 20px;
}

.data{
  text-align: left;
}

.content-title{
  font-weight: bold;
  margin: 30px 0;
}

.content-introduction{
  margin-bottom: 30px;
}

.link{
  text-decoration: none;
  color: black;
}


.show-comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 24px;
}

.show-comments--test{
  margin: 0 400px 20px 400px;
  background-color: white;
  border: lightgray 1px solid;
}

.edit-destroy-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-edit{
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}

.content-destroy{
  color: black;
  text-decoration: none;
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.content-review{
  text-align: center;
  background-color:rgb(13, 71, 231);
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
  text-decoration: none;
}